body{
    font-size: 12px !important;
}
h2{
   font-size: 36px !important; 
}
h3{
    font-size: 24px !important;
}
h4{
    font-size: 14px !important;
}
h5{
    font-size: 13px !important;
}
h6{
    font-size: 12px !important;
}
.bg-green{
    background-color: #5fb67f;
}
.bg-grey{
    background-color: #f7f7f7;
}
.bg-red{
    background-color: #df7892;
}
.text-green{
    color: #5fb67f;
}
.song-btn{
    outline: none;
    border: none;
    text-align: left;
    transition: background-color 0.2s, color 0.2s;
    padding: 5px;
}
.song-btn:focus{
    outline:none;
}
.song-btn:hover{
    box-shadow: inset 0px 0px 0px 4px #2886ae;
    color: black;
}

.btn-link:hover{
text-decoration: none !important;
color: white !important;
}
.btn-link{
    background-color: #2886ae;
    border-radius: 6px;
    padding: 4px;
    font-size: 80%;
    color: black !important;
}



.fadeRouter-enter {
    opacity: 0.01;
  }
  .fadeRouter-appear {
    opacity: 0.01;
  }
  .fadeRouter-enter-active {
    opacity: 1;
    transition: opacity 150ms ease-out;
    position: absolute;
    width: 100%;
    margin: auto;
  }
  .fadeRouter-appear-active {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }
  .fadeRouter-exit-active {
    opacity: 0.01;
    transition: opacity 150ms ease-out;
    position: absolute;
    width: 100%;
    margin: auto;
  }