body{
    font-size: 12px !important;
}
h3{
    font-size: 24px !important;
}
h4{
    font-size: 15px !important;
}
h5{
    font-size: 14px !important;
}
h6{
    font-size: 12px !important;
}
.bg-green{
    background-color: #5fb67f;
}
.text-green{
    color: #5fb67f;
}
.song-btn{
    outline: none;
    border: none;
    background-color: none;
    text-align: left;
    transition: background-color 0.2s, color 0.2s;
}
.song-btn:focus{
    outline:none;
}
.song-btn:hover{
    background-color: #5fb67f;
    color: black;
}
.fadeRouter-enter {
    opacity: 0.01;
  }
  .fadeRouter-appear {
    opacity: 0.01;
  }
  .fadeRouter-enter-active {
    opacity: 1;
    transition: opacity 150ms ease-out;
    position: absolute;
    width: 100%;
    margin: auto;
  }
  .fadeRouter-appear-active {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }
  .fadeRouter-exit-active {
    opacity: 0.01;
    transition: opacity 150ms ease-out;
    position: absolute;
    width: 100%;
    margin: auto;
  }